{
  "presets": [
    ["env", {
      "targets": {
        "loose": true,
        "modules": false,
        "useBuiltIns": true,
        "browsers": ["last 2 versions", "> 5%", "not ie <= 8"]
      }
    }],
    "react"
  ],
  "plugins": [
    ["resolver", {"resolveDirs": ["src"]}],
    "syntax-dynamic-import",
    "system-import-transformer",
    "transform-object-rest-spread",
    "transform-function-bind"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}